/*
 * CSS for a fireworks display
 *
 * The container element is the backdrop for the fireworks show.  The base particle will be randomly placed on the photo then copied and those copies will explode out 
 * to randomly selected offsets.
 * 
 *
 * written by Ann King
 * annkingwebdesign.com
 * 7/18/17
 */

body {
    background-color: Gainsboro;
	
}

h1 {
    text-align: center;
	font-family: "Comic Sans MS", cursive, sans-seri;
}

h2 {
    text-align: center;
}

.frame {
	background-color: black;
	margin: auto;
	overflow: hidden;
	hight: 800px;
	width: 400px;
	border-radius: 25px;
}

.container {
	margin: auto;
    background-image: url("Night-Sky.png");
    background-color: #cccccc;
	position:relative;
	overflow: hidden;
	height: 260px;
	width: 400px;
}

.base-particle{
height: 3px;
width: 3px;

position: absolute;

}

